{% extends 'base.html' %}

{% block content %}

{% for post in featured_posts %}
{% if forloop.first %}
<!-- Featured Posts Banner -->
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark"
  style="background-image: url({{post.featured_image.url}});background-blend-mode: overlay;background-size:cover;">
  <div class="col-md-8 px-0">
    <h1 class="display-4 font-italic">{{post.title}}</h1>
    <p class="lead my-3">{{post.short_description | truncatewords:15}}</p>
    <p class="lead mb-0"><a href="{% url 'post_by_slug' slug=post.slug %}" class="text-white font-weight-bold">Continue
        reading...</a></p>
  </div>
</div>
{% endif %}
{% endfor %}

<!-- Featured Posts -->
<h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Featured Posts</h3>

<div class="row mb-2">
  {% for post in featured_posts %}
  {% if not forloop.first %}
  <div class="col-md-6">
    <div class="card border-0">
      <div class="card-body">
        <a href="{% url 'post_by_slug' slug=post.slug %}" class="text-dark">
          <h3>{{post.title}}</h3>
        </a>
        <small class="mb-1 text-muted">{{post.created_at | timesince}} ago | {{post.author}}</small>
        <p class="card-text">{{post.short_description | truncatewords:15}}</p>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>


<!-- Recent Posts -->
<h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Recent Posts</h3>
<main role="main" class="container p-0">
  <div class="row">
    <div class="col-md-8 blog-main">
      {% for post in posts %}
      <div class="card border-0">
        <div class="card-body">
          <a href="{% url 'post_by_slug' slug=post.slug %}" class="text-dark">
            <h3>{{post.title}}</h3>
          </a>
          <small class="mb-1 text-muted">{{post.created_at | timesince}} ago | {{post.author}}</small>
          <p class="card-text">{{post.short_description | truncatewords:20}}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Side Bar -->
    <aside class="col-md-4 blog-sidebar">
      {% if about %}
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">{{about.heading}}</h4>
        <p class="mb-0">{{about.description}}</p>
      </div>
      {% endif %}

      <div class="p-3">
        {% if social_links %}
        <h4 class="font-italic">Follow Us</h4>
        <div class="card-body">
        <ol class="list-unstyled">
          {% for link in social_links %}
          <li><a href="{{link.link}}" target="_blank">{{link.platform}}</a></li>
          {% endfor %}
        </ol>
        </div>
        {% endif %}
      </div>

  </div>

</main>

{% endblock %}