{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <!-- left -->
    {% include 'dashboard/sidebar.html' %}

    <!-- right -->
     <div class="col-9 dashboard-form-area">
        <h3>Edit Post</h3>
        <form action="{% url 'dashboard_edit_post' id=post.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-warning mb-3" style="width: 100px;">Edit</button>
        </form>
     </div>
</div>
{% endblock %}