{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!-- left -->
    {% include 'dashboard/sidebar.html' %}

    <!-- right -->
    <div class="col-md-9">
        <h4>All users</h4>
        <a href="{% url 'dashboard_add_user' %}" class="btn btn-dark text-light float-right mb-2">Add Post</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">email</th>
                    <th scope="col">Active</th>
                    <th scope="col">Staff</th>
                    <th scope="col">Superuser</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in users %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{i.first_name}} {{i.last_name}}</td>
                    <td>{{i.username}}</td>
                    <td>{{i.email}}</td>
                    <td>{% if i.is_active%}<i class="fa-solid fa-check text-success"></i>{%else%}<i class="fa-solid fa-xmark text-danger"></i>{%endif%}</td>
                    <td>{% if i.is_staff%}<i class="fa-solid fa-check text-success"></i>{%else%}<i class="fa-solid fa-xmark text-danger"></i>{%endif%}</td>
                    <td>{% if i.is_superuser%}<i class="fa-solid fa-check text-success"></i>{%else%}<i class="fa-solid fa-xmark text-danger"></i>{%endif%}</td>
                    <td style="display: flex;">
                        <a href="{% url 'dashboard_edit_user' id=i.id %}" style="margin-right: 5px;"><i class="fa-solid fa-pen-to-square text-success"></i></a>
                        <form action="{% url 'dashboard_delete_user' id=i.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link text-reset p-0" onclick="return confirm('Are you sure you want to delete this user?')"><i class="fa-solid fa-trash text-danger"></i></button>
                        </form>
                        <!-- <a href="{% url 'dashboard_delete_user' id=i.id %}" onclick="return confirm('Are you sure you want to delete this post?');"><i class="fa-solid fa-trash text-danger"></i></a> -->
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>
{% endblock %}